html{
  
  min-height: 100%;
}

@media only screen and (max-device-width: 568px){
  html{overflow: hidden;}
}

body {
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(89, 89, 89, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-weight: 300;
  color: #F5F5F5;
  
}

h1, p {
  margin: 0;
}

p{
  font-size: min(16px, 4vw);
}

a {
  color: rgba(237, 159, 159, 1);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.button {
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  width: 9em;
  top: -1vh;
  padding: 3px;
  margin: 3px;
  outline: none;
  position: relative;
  color: #FFFFFF;
}

.button:hover {
  box-shadow: 0 0px 4px #FFF;
}

#user-uploader {
  background: rgb(217, 125, 148);
  background: linear-gradient(
    0deg,
    rgba(217, 125, 148, 1) 0%,
    rgba(237, 159, 159, 1) 100%
  );
}

#user-uploader:active {
  background: linear-gradient(
    0deg,
    rgba(237, 159, 159, 1) 0%,
    rgba(217, 125, 148, 1) 100%
  );
}

#random-link {
  background: rgb(173, 129, 203);
  background: linear-gradient(
    0deg,
    rgba(170, 126, 200, 1) 0%,
    rgba(217, 159, 237, 1) 100%
  );
}

#random-link:active {
  background: linear-gradient(
    0deg,
    rgba(217, 159, 237, 1) 0%,
    rgba(170, 126, 200, 1) 100%
  );
}

#save-painting {
  background: rgb(109, 92, 184);
  background: linear-gradient(
    0deg,
    rgba(119, 112, 194, 1) 0%,
    rgba(141, 163, 228, 1) 100%
  );
}

#save-painting:active {
  background: rgba(135, 54, 226, 1);
  background: linear-gradient(
    0deg,
    rgba(141, 163, 228, 1) 0%,
    rgba(119, 112, 194, 1) 100%
  );
}

#canvas-div {
  box-shadow: 0 0px 9px #FFFFFF;
  margin: 5px 0px 0px 0px;
  display: inline-block;
  line-height: 0;
}

#error-display {
  color: #AAAAAA;
  margin: 10px;
}

#slider {
  margin: 15px 0 0 0;
  width: 60%;
  max-width: 250px;
}

#instruct-container{
  width: 100%;
}

#modal-open{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  width: 1.3em;
  box-shadow: 0 0px 6px #ffffff6b;
  background: linear-gradient(
    0deg,
    rgb(48, 48, 48) 0%,
    rgb(85, 85, 85) 100%
  );
}

#modal-open:hover{
  box-shadow: 0 0px 6px #ffffffbb;
}

h3{
  text-align: center;
  margin:0;
}

hr{
  border:0;
  width:100%;
  height:1px;
  background:rgb(134, 134, 134);
}

.modal{
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.493);
  justify-content: center;
}

ul{
  margin: 15px 10px 20px 0;
}

.modal-content{
  margin: 25vh auto;
  padding: 20px;
  text-align: left;
  background: linear-gradient(
    0deg,
    rgb(49, 49, 49) 0%,
     rgb(75, 75, 75) 100%
  );
  border-radius: 10px;
  width: 70vw;
  max-width: min(300px, 60vw);
  max-height: 50vh;
  font-size: min(16px, 3vw);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.753);
}

.close{
  margin:0;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  text-align: center;
  line-height: 1em;
  float: right;
  font-weight: bold;
}

.close:hover{
  background: rgba(31, 31, 31, 0.425);
  box-shadow: none;
}

#modal-footer{
  text-align:center; 
  font-size: min(14px, 3vw); 
  color:rgb(168, 168, 168);
}