
body {
  font-family: 'Sahitya', serif;
  text-align: center;
  position: absolute;
}

#userupload {
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  width: 8em;
  top: -1vh;
  color: #FFFFFF;
  padding: 3px;
  margin: 0 auto;
  outline: none;
  position: relative;
  background: purple;
}